always-auth=true
@clippic:registry=https://gitlab.clippic.app/api/v4/packages/npm/
//gitlab.clippic.app/api/v4/packages/npm/:_authToken=${CI_JOB_TOKEN}
//gitlab.clippic.app/api/v4/projects/1/packages/npm/:_authToken=${CI_JOB_TOKEN}
registry=https://nexus.souvap-univention.de/repository/registry_npmjs_org/
//nexus.souvap-univention.de/repository/registry_npmjs_org/:_auth=Y2xpcHBpYzpMUGp5NzNRZUFyUEZFVDk5
