doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='x-apple-disable-message-reformatting')
    style
        include email.css
    block title
    //if mso
      xml
        o:officedocumentsettings
          o:pixelsperinch 96
      style.
        table {border-collapse: collapse;}
        td,th,div,p,a {font-size: 16px; line-height: 26px;}
        .spacer,.divider,div,p,a,h1,h2,h3,h4,h5,h6 {mso-line-height-rule: exactly;}
        td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family:"Segoe UI",Helvetica,Arial,sans-serif;}
table.wrapper(cellpadding='0' cellspacing='0' role='presentation' width='100%')
    tr
        td.px-sm-20(align='center' bgcolor='#F5F5F5' style='padding: 0px 0;')
            // 500px Box
            table.container(cellpadding='0' cellspacing='0' role='presentation' width='500')
                tr
                    td.col(align='left')
                        // Logo
                        table(cellpadding='0' cellspacing='0' role='presentation' width='100%')
                            tr
                                td.col.py-sm-0(width='500' style='padding: 20px 50px;')
                                    table(align='center')
                                        tr
                                            td.spacer(height='20' style='font-size: 20px; line-height: 20px; mso-line-height-rule: exactly;') &nbsp;
                                        tr
                                            td
                                                img(src='https://static.clippic.app/mail/logo.png' width='90' alt='Header Logo' style='border: 0; width: 100%; max-width: 98px;')
                                        tr
                                            td.spacer(height='20' style='font-size: 20px; line-height: 20px; mso-line-height-rule: exactly;') &nbsp;

table.wrapper(cellpadding='0' cellspacing='0' role='presentation' width='100%')
    tr
        td(align='center' bgcolor='#F5F5F5')
            // 500px Box
            table.container(cellpadding='0' cellspacing='0' role='presentation' width='500')
                tr
                    td.col.px-sm-30.py-sm-30(align='left' bgcolor='#FFFFFF' style='padding:50px 50px;')
                        table(cellpadding='0' cellspacing='0' role='presentation' width='100%')
                            tr
                                td.col(width='400' align='left')
                                    block content
table.wrapper(cellpadding='0' cellspacing='0' role='presentation' width='100%')
    tr
        td(align='center' bgcolor='#F5F5F5')
            table.container(cellpadding='0' cellspacing='0' role='presentation' width='500')
                tr
                    td.col.px-sm-30.py-sm-20(align='left' bgcolor='#FFFFFF' style='padding:30px 50px;border-top: 1px solid #F1F1F1;border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;')
                        table(cellpadding='0' cellspacing='0' role='presentation' width='100%')
                            tr
                                td.col.col-sm-12(align='left' style='vertical-align: middle;')
                                    h3.sm-hero-text(style="font-family: Helvetica, sans-serif ;font-size: 18px;line-height: 18px;font-weight: 400; color:#292929;margin: 0; margin-bottom: 10px;")
                                        | Have a question?
                                    p(style="font-family: Arial, sans-serif;font-size: 13px;line-height: 100%;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;")
                                        | If you have any questions, problems or improvements, please send us an email to&nbsp;
                                        a(href='mailto:support@clippic.app') support@clippic.app

table.wrapper(cellpadding='0' cellspacing='0' role='presentation' width='100%')
    tr
        td(align='center' bgcolor='#F5F5F5')
            // 500px Box
            table.container(cellpadding='0' cellspacing='0' role='presentation' width='500')
                tr
                    td.col.px-sm-30.py-sm-30(align='left' style='padding:30px 50px;')
                        // Content
                        table(cellpadding='0' cellspacing='0' role='presentation' width='100%')
                            tr
                                td.col(width='400' align='left')
                                    table(cellpadding='0' cellspacing='0' role='presentation' width='100%')
                                        tr
                                            td(width='17' style='padding-right: 10px;')
                                                a(href='https://www.instagram.com/clippic.app' style='text-decoration: none;padding-right: 10px;')
                                                    img(src='https://static.clippic.app/mail/instagram.png' alt='instagram' style='height: 17px;')
                                                a(href='https://www.youtube.com/channel/UCP7U_DmRtLqHkt-P4_v54lA' style='text-decoration: none;padding-right: 10px;')
                                                    img(src='https://static.clippic.app/mail/youtube.png' alt='instagram' style='height: 17px;')
                                                a(href='https://www.facebook.com/clippicapp-410653379683724/' style='text-decoration: none;padding-right: 10px;')
                                                    img(src='https://static.clippic.app/mail/facebook.png' alt='facebook' style='height: 17px;')
                                    .spacer.py-sm-10(style='line-height: 20px;') &zwnj;
                                    p(style="font-family: Arial, sans-serif;font-size: 13px;line-height: 16px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;").
                                        You are receiving this email because you have triggered this action at clippic.app or in clippic app.
                                        #[br]
                                        You #[b won't] receive any updates or newsletters without any explicit registration for it.
                                    .spacer.py-sm-10(style='line-height: 20px;') &zwnj;
                                    div(style='background: #d0d8de; height: 1px; line-height: 1px;') &zwnj;
                                    .spacer.py-sm-10(style='line-height: 20px;') &zwnj;
                                    p(style="font-family: Arial, sans-serif;font-size: 13px;line-height: 22px;font-weight: 400; color:#7E7E7E; margin: 0; margin-bottom: 0px ;")
                                        span(style='color: #292929; font-weight: 600;') clippic
                                        | &reg; is provided by tabs vs. spaces UG, Stargarder Str. 34, 45968 Gladbeck, Germany
