extends ../layout/text-footer

block content
    | Hey #{username},
    | nice to meet you!
    |
    | Thanks for joining clippic! You are now ready to print your videos and bring memories to life.
    |
    | Username: #{username}
    | Email: #{email}
    |
