extends ../layout/text-footer

block content
    | Hey #{forename},
    | here is how to reset your Password
    |
    | Please enter this code into your clippic app: #{passwordResetCode}
    |
    | This code expires in 3 hours.
