extends ../layout/text-footer

block content
    | Hey #{forename},
    | you've changed your Password
    |
    | We just wanted to let you know, that you have successfully changed your password.
    |
    | If you didn't changed it, please contact us immediately.
